.tabs { display: flex; gap: 20px; padding: 10px; }
.tab { cursor: pointer; padding: 10px 15px; border-radius: 5px; background: rgb(0,32,96); color: aliceblue; }
.tab.active {background: aliceblue; color: rgb(0,32,96);} 
.table-container { margin-top: 20px; }
.list-group-item{
    color: rgb(0,32,96);
    border: none;
    transition: transform .5s
}
.list-group-item.active,
.list-group-item:hover{
    background-color: rgb(0,32,96);
    border-radius: 25px;
    color: aliceblue;
}
.list-group-item:hover{
    transform: scale(1.005);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


#main-sidebar {
    height: 100vh;
    background: aliceblue;
    color: rgb(0, 32, 96);
    position: fixed;
    width: 250px;
    transition: all 0.3s;
}
.sidebar{
    background-color: aliceblue;
    color: rgb(0, 32, 96);
}
.sidebar .nav-link {
    color: rgb(0, 32, 96);
    transition: transform .5s;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: rgb(0, 32, 96);
    border-radius: 25px;
    color: aliceblue;
}

.sidebar .nav-link:hover {
    transform: scale(1.005);
}

/* Content */
#content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
    background-color: rgb(0, 32, 96);
    color: aliceblue;
}

.badge {
    position: relative;
    top: -15px;
    left: -25px;
    background-color: red;
    border-radius: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #main-sidebar {
        width: 0;
        overflow: hidden;
    }

    #content {
        margin-left: 0;
    }
}

/* Responsive Table */
.table-container {
    overflow-x: auto;
}

/* Input Fields */
.form-control {
    width: 100%;
}